/*Hoja de estilos personal*/
  
  /* Estilo mediante ID en HTML*/
  #ColorFIMEID {
    color: #c12f2f;
    font-size: 20px;
  }

.navbarcolor{
    background-color: #021859;
}

.fondo{
    background-color: #F2F2F2;
}

/*Hover de los botones*/
.social-icons .botoninsta:hover{
    background-color: #D936A0; 
  }

.social-icons .botontwitter:hover{
    background-color: #05AFF2;
  }

.social-icons .botonface:hover{
    background-color: #2372D9;
  }
  
.social-icons .botongit:hover{
    background-color: #56297C;
  }

.social-icons .botonwhat:hover{
    background-color: #10E376;
  }

.googlefont{
  font-family: 'Bebas Neue', cursive;
  font-size: 6rem;
}

.subfont{
  font-family: 'Bebas Neue', cursive;
}

.importantetext{
  color: #384773;
}

.subtema{
  color: #020659;
}

.contenido{
  color: #011126;
  text-align: justify;
}

.pie{
    background-color: #021859 !important;
}

.bg-modulo1{
  background-color: #3E9535 !important;
}

.bg-modulo2{
  background-color: #2B7B3D !important;
}

.bg-modulo3{
  background-color: #006E2E !important;
}

.bg-moduloN{
  background-color: #435359 !important;
}

.bg-moduloN2{
  background-color: #1F2426 !important;
}

.bg-barraN{
  background-color: #AABFBF !important;
}